# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# Runtime data
resource-server/package-lock.json
client-server-basic/package-lock.json
authentication-server-basic/package-lock.json


# Dependency directories
resource-server/node_modules/
client-server-basic/node_modules/
authentication-server-basic/node_modules/
